# Data Exploration

This notebook is designed to help navigate and understand the structure of various CSV files in the dataset. The primary objectives are to identify unique and repeated entries within columns, which helps determine suitable primary keys or, where necessary, composite keys for table design. Additionally, this exploration aids in selecting appropriate data types for each field.

> **Note:** While this code automates much of the data extraction, displaying the head of each DataFrame allows users to visually inspect the data and make informed decisionsâ€”especially for fields like dates that require a closer, manual assessment.

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

# Exploration Function

The function below, `explore_data`, is designed to analyze the structure of each CSV file. It outputs the number of rows (length of the file), the number of columns, and assesses whether each column can serve as a primary key by comparing the number of unique values to the total number of rows. Additionally, the function determines if column values are numerical or strings. 

- If values are strings, the function calculates the maximum number of characters to recommend an appropriate `VARCHAR` length for database integration.
- If values are numeric, an `INT` suggestion is made, which the user should verify based on the specific data requirements.

The function ultimately returns a DataFrame containing the CSV data, enabling further analysis.

In [6]:
def explore_data(filename):
    # Print the file name being analyzed
    print(f"File: {filename}")

    # Load the CSV file into a DataFrame
    csvfile = Path(f'Raw_Data/{filename}')
    df = pd.read_csv(csvfile)

    # Display the number of rows in the file
    print(f"Length of file: {len(df)} rows")

    # Display the number of columns in the file
    num_col = len(df.columns)
    print(f"Number of columns: {num_col}")

    # Loop through each column for further analysis
    for i in range(num_col):
        # Initial output for each column includes its name and unique value count
        output_string = f"- Column {i}: '{df.columns[i]}' has {df[df.columns[i]].nunique()} unique values"
        
        # Check if column can serve as a primary key
        if df[df.columns[i]].nunique() == len(df):
            output_string += ', and can be used as primary key'
        
        # Assess if the column data is numeric
        if is_numeric_dtype(df[df.columns[i]]):
            output_string += '. Values are numeric. Suggest: INT'
        
        # Assess if the column data is of string type
        elif is_string_dtype(df[df.columns[i]]):
            # Calculate maximum character length for VARCHAR recommendation
            max_length = df[df.columns[i]].map(lambda x: len(str(x))).max()
            if max_length == 1:
                output_string += f". Values are strings. Suggest: CHAR(1)"
            else:
                output_string += f". Values are strings. Suggest: VARCHAR({max_length})"
        
        # Handle cases where data type cannot be determined
        else:
            output_string += '. Values are of an unknown type.'

        # Print the column analysis
        print(output_string)

    # Display the first two rows of the DataFrame as an extract
    print('Extract of data:')
    display(df.head(2))

    return df

#### File 1: departments.csv file

In [8]:
# Analyze the departments.csv file
filename = 'departments.csv'
df = explore_data(filename)

File: departments.csv
Length of file: 9 rows
Number of columns: 2
- Column 0: 'dept_no' has 9 unique values, and can be used as primary key. Values are strings. Suggest: VARCHAR(4)
- Column 1: 'dept_name' has 9 unique values, and can be used as primary key. Values are strings. Suggest: VARCHAR(18)
Extract of data:

  dept_no  dept_name
0    d001  Marketing
1    d002    Finance

#### File 2: dept_emp.csv file

In [7]:
# Analyze the dept_emp.csv file
filename = 'dept_emp.csv'
df = explore_data(filename)

File: dept_emp.csv
Length of file: 331603 rows
Number of columns: 2
- Column 0: 'emp_no' has 300024 unique values. Values are numeric. Suggest: INT
- Column 1: 'dept_no' has 9 unique values. Values are strings. Suggest: VARCHAR(4)
Extract of data:

   emp_no dept_no
0   10001    d005
1   10002    d007

#### File 3: dept_manager.csv file

In [9]:
#Analyze the dept_manager.csv file
filename = 'dept_manager.csv'
df = explore_data(filename)

File: dept_manager.csv
Length of file: 24 rows
Number of columns: 2
- Column 0: 'dept_no' has 9 unique values. Values are strings. Suggest: VARCHAR(4)
- Column 1: 'emp_no' has 24 unique values, and can be used as primary key. Values are numeric. Suggest: INT
Extract of data:

  dept_no  emp_no
0    d001  110022
1    d001  110039

#### File 4: employees.csv file

In [10]:
#Analyze the employees.csv file
filename = 'employees.csv'
df = explore_data(filename)

File: employees.csv
Length of file: 300024 rows
Number of columns: 7
- Column 0: 'emp_no' has 300024 unique values, and can be used as primary key. Values are numeric. Suggest: INT
- Column 1: 'emp_title_id' has 7 unique values. Values are strings. Suggest: VARCHAR(5)
- Column 2: 'birth_date' has 4750 unique values. Values are strings. Suggest: VARCHAR(10)
- Column 3: 'first_name' has 1276 unique values. Values are strings. Suggest: VARCHAR(14)
- Column 4: 'last_name' has 1638 unique values. Values are strings. Suggest: VARCHAR(16)
- Column 5: 'sex' has 2 unique values. Values are strings. Suggest: CHAR(1)
- Column 6: 'hire_date' has 5434 unique values. Values are strings. Suggest: VARCHAR(10)
Extract of data:

   emp_no emp_title_id  birth_date first_name  last_name sex  hire_date
0  473302        s0001   7/25/1953   Hideyuki   Zallocco   M  4/28/1990
1  475053        e0002  11/18/1954      Byong  Delgrande   F   9/7/1991

#### File 5: salaries.csv file

In [11]:
#Analyze the salaries.csv file
filename = 'salaries.csv'
df = explore_data(filename)

File: salaries.csv
Length of file: 300024 rows
Number of columns: 2
- Column 0: 'emp_no' has 300024 unique values, and can be used as primary key. Values are numeric. Suggest: INT
- Column 1: 'salary' has 50355 unique values. Values are numeric. Suggest: INT
Extract of data:

   emp_no  salary
0   10001   60117
1   10002   65828

#### File 6: titles.csv file

In [12]:
#Analyze the titles.csv file
filename = 'titles.csv'
df = explore_data(filename)

File: titles.csv
Length of file: 7 rows
Number of columns: 2
- Column 0: 'title_id' has 7 unique values, and can be used as primary key. Values are strings. Suggest: VARCHAR(5)
- Column 1: 'title' has 7 unique values, and can be used as primary key. Values are strings. Suggest: VARCHAR(18)
Extract of data:

  title_id         title
0    s0001         Staff
1    s0002  Senior Staff

### Conclusions from Data Exploration

#### Table 1: departments
- **Primary Key**: The `dept_no` column is unique and should serve as the **PRIMARY KEY** for this table.
- **Foreign Keys**: No foreign keys are necessary for this table.
- **Overall**: Each department has a unique identifier (`dept_no`), ensuring individual department records.

#### Table 2: dept_emp
- **Relationships**:
  - `emp_no` contains repeating values, meaning an employee can be associated with multiple departments.
  - `dept_no` also contains repeating values, indicating that a department can include multiple employees.
- **Primary Key**: No single column qualifies as a **PRIMARY KEY** due to the repeating values in both `emp_no` and `dept_no`. A composite key (combining `emp_no` and `dept_no`) may be needed.
- **Overall**: This table serves as a many-to-many relationship between employees and departments, highlighting employee memberships in departments without a unique row identifier.

#### Table 3: dept_manager
- **Relationships**:
  - `dept_no` has repeating values, suggesting that a department may have multiple managers over time.
  - `emp_no` contains no repeating values, indicating that each manager (identified by `emp_no`) is associated with only one department.
- **Overall**: The `dept_manager` table maps managers to departments, with `emp_no` uniquely identifying each manager.

#### Table 4: employees
- **Primary Key**: `emp_no` is unique across all rows, making it a suitable **PRIMARY KEY** for the table.
- **Data Notes**: 
  - Columns `birth_date` and `hire_date` are formatted in **MM/DD/YYYY** (US date format).
  - All other columns contain repeating values, representing various employee attributes (e.g., titles, names).
- **Overall**: This table captures core employee details with `emp_no` as the unique identifier, and includes additional attributes such as birth date and hire date.

#### Table 5: salaries
- **Primary Key**: `emp_no` has no repeating values, indicating that each employee is linked to a single salary record.
- **Data Notes**:
  - The `salary` column contains repeated values, meaning multiple employees may have the same salary.
- **Overall**: The `salaries` table tracks individual employee salaries, with each `emp_no` uniquely identifying a single salary, even if the employee may work in multiple departments.

#### Table 6: titles
- **Primary Key**: `title_id` is unique and can serve as the **PRIMARY KEY**.
- **Data Notes**: 
  - `title` values are also unique, ensuring that each job title is distinct.
- **Overall**: This small reference table provides unique job titles, with `title_id` as a primary identifier, facilitating job title lookups or classifications.